name: release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release-darwin:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  
      - name: Fetch all tags
        run: git fetch --force --tags
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
          check-latest: true
          cache: true
      - name: Add env vars
        run: |
          echo GORELEASER_CURRENT_TAG=$(go run github.com/miniscruff/changie@latest latest) >> $GITHUB_ENV
          echo RELEASE_NOTES_PATH=.changes/$(go run github.com/miniscruff/changie@latest latest).md >> $GITHUB_ENV
      - name: Release
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist --config .goreleaser-darwin.yml --skip-validate --skip-publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v3
        with:
          name: darwin-dist
          path: dist-darwin/*.so
  release-binaries:
    runs-on: ubuntu-22.04
    needs: [release-darwin]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  
      - name: Fetch all tags
        run: git fetch --force --tags
      - uses: actions/download-artifact@v3
        with:
          name: darwin-dist
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
          check-latest: true
          cache: true
      - name: Install cross-compilers
        run: sudo apt-get -y install gcc-aarch64-linux-gnu gcc-mingw-w64-x86-64-win32
      - name: Add env vars
        run: |
          echo GORELEASER_CURRENT_TAG=$(go run github.com/miniscruff/changie@latest latest) >> $GITHUB_ENV
          echo RELEASE_NOTES_PATH=.changes/$(go run github.com/miniscruff/changie@latest latest).md >> $GITHUB_ENV
      - name: Release
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist --config .goreleaser-rest.yaml --skip-validate
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
